{% extends 'newapp/base.html'%}
{% load static %}


<!DOCTYPE html>

<html>
    <head>
        {% block head_title %} <title>{{post.title}}</title> {% endblock %}
    </head>
    <body>
        {% block content %}
        {% if user.is_authenticated %}
        <p>Hello,{{user}}</p>
        <main>
          <div class="container">
              <div class="header-title">
                      <h1 id="title-name">{{ post.title }}</h1>
                  <hr>
                  <span class="post-detail">
                      <p>Published date: {{ post.published_date }}</p>
                      <p>Published by: {{ post.author }}</p>
                  </span>
                  <div class="post-content">
                     {{ post.text|safe}} 
                  </div>
              </div>
              {% endif %}
              <br>

            <form method="post">
            {{ form.media }}
            {% csrf_token %}
            {% for x in form %}
              <div class="create-control">
                  {{x}}
              </div>
            {% endfor %}
            <button type="submit", name="save">Comment</button>
            <br>
            </form>
              <div class="list-group" style="margin-top: 1rem;background-color: white;">
                <a class="list-group-item disabled" style="border:0;">Comment</a>
                <hr style="max-width: 95%;">
                {% for cmt in cmt_list %}
                    <div style="display:flex;flex-direction: column;">
                        <span style="margin: 0.5rem 0 0 1.5rem;">
                            {{cmt.author}}:
                            <p style="font-size: 12px;">{{cmt.create_date}}</p>
                        </span>
                    </div>
                    <div style="margin-left:1.5rem;margin-right:1.5rem;max-width: 95%;">
                        {{cmt.body|safe}}
                    </div>
                    {% if not forloop.last %}
                        <hr style="max-width: 95%;">
                    {% endif %}
                    {% empty %}
                        <h4>No comment!</h4>
                        <hr style="max-width: 95%;">
                {% endfor %}
               </div>
              {% endblock %}
          </div>
      </main>

    </body>
</html>