{% load static%}
<html>
    <head>
        <!-- bootstrap -->
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'newapp/css/test.css' %}">

        <title>This is the homepage</title>
    </head>
    <body>
      {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="{% url 'home' %}">Homepage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create' %}" tabindex="-1">Create</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                </li>
              </ul>
              <form method='GET' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name='q' type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        {% endblock %}
        {% block test %}
        {% if user.is_authenticated %}
        <p>Hello,{{user}}</p>
        {% for post in posts %}
        <div>
          <div style="display:flex;align-items: center;justify-content: center;">
            <h1 style="max-width:50%;text-align: right;"><a href="">{{ post.title }}</a></h1>
            {% if curr == post.author %}
            <a name="edit"  href="{% url 'edit' pk=post.pk %}"  style="margin-left:1rem;border:1px solid black; padding:0.3rem 0.8rem 0.3rem 0.8rem;">Edit</a>
            {% endif %}
          </div>
            <p style="max-width:50%;margin: auto;text-align: center;">published: {{ post.published_date }}</p>
            <p style="max-width:50%;margin: auto;text-align: center;">published by {{post.author}}</p>
            <p style="color:maroon;border:0.5px solid black;max-width: 50%;margin: auto;border-radius: 5px;">{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        {% endif %}
            <p>testing the block</p>
        {% endblock %}

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="{% static 'newapp/js/headroom.js'%}"></script>
        <script>
          $(function(){
            var myElement=document.querySelector(".navbar");
            var headroom=new Headroom(myElement);
            headroom.init();
          });
        </script>
    </body>
</html>