{% load static%}
<html>
    <link rel="stylesheet" href="{% static 'newapp/css/style.css' %}">
    <head>
        <title>This is the homepage</title>
    </head>
    <body>
        {% block test %}
        <form method="post", action="/create/">
            {{form.as_p}}
            {% csrf_token %}
            <p>testing the block</p>
            <button type="submit", name="save">Create New</button>
            <br>
            {% for e in choice %}
                <input type="radio" name="choice" id="choice {{forloop.counter}}" value="{{e.title}}">
                <label for = "{{e.title}}"> {{ e.title }}  </label> <br>
            {% endfor %}
            </form>
        {% endblock %}
        
    </body>
</html>