{% extends 'newapp/base.html'%}
{% load static%}
<html>
    <link rel="stylesheet" href="{% static 'newapp/css/style.css' %}">
    <head>
        <title>This is the homepage</title>
    </head>
    <body>
        {% block navbar%}
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="{% url 'home' %}">Homepage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'create' %}" tabindex="-1">Create</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        {% endblock %}

        {% block test %}
        <form method="post", action="/create/">
            {{form.as_p}}
            {% csrf_token %}
            <p>testing the block</p>
            <button type="submit", name="save">Create New</button>
            <br>
            {% for e in choice %}
                <input type="radio" name="choice" id="choice {{forloop.counter}}" value="{{e.title}}">
                <label for = "{{e.title}}"> {{ e.title }}  </label> <br>
            {% endfor %}
            </form>
        {% endblock %}
        
    </body>
</html>