{% extends 'newapp/base.html'%}

<!DOCTYPE html>

<html>
    <head>
        {% block head_title %}<title>Homepage</title> {% endblock %}
    </head>
    <body>
        {% block content %}
        {% if user.is_authenticated %}
            <p>Hello,{{user}}</p>
        {% for post in posts %}
        <div>
          <div style="display:flex;align-items: center;justify-content: center;">
            <h1 style="max-width:50%;text-align: right;"><a href="{% url 'article' pk=post.pk %}">{{ post.title }}</a></h1>
            {% if curr == post.author %}
            <a name="edit"  href="{% url 'edit' pk=post.pk %}"  style="margin-left:1rem;border:1px solid black; padding:0.3rem 0.8rem 0.3rem 0.8rem;">Edit</a>
            <a name="delete"  href="{% url 'delete' pk=post.pk %}"  style="margin-left:1rem;border:1px solid black; padding:0.3rem 0.8rem 0.3rem 0.8rem;">Delete</a>
            {% endif %}
          </div>
          <div style="display: flex;justify-content: center;"> 
            {% for tag in post.tags.all %}
            <h3><a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a></h3>
            {% endfor %}
          </div>
            <p style="max-width:50%;margin: auto;text-align: center;">published on: {{ post.published_date }}</p>
            <p style="max-width:50%;margin: auto;text-align: center;">published by {{post.author}}</p>
            <div style="color:maroon;border:0.5px solid black;max-width: 50%;margin: auto;border-radius: 5px;overflow-wrap: break-word;" > {{ post.description|safe}} </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
        {% endblock %}
    </body>
</html>