<!DOCTYPE html>
<html>
    <head>
        <title>Login Screen</title>
    </head>
    <body>
        <form method="post" class="from-group">
            {% csrf_token %}
             <div class="input-group">
                <input class="input--style-3" type="text" placeholder="Username" name="username">
            </div>
            <div class="input-group">
                <input class="input--style-3" type="password" placeholder="Password" name="password">
            </div>
            <div class="p-t-10">
                <button class="btn btn--pill btn--green" type="submit">Login</button>
            </div>
        </form>
    </body>
</html>