.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.descriptionclass{
    display: block;
}

.textclass{
    display:block;
}

.create-control{
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

button{
    min-width: 30%;
    display: block;
    margin: auto;
    margin:1rem auto 1rem auto;
}



